<div class="alert-body">
  <div class="alert-header mat-elevation-z1">
    <div></div>
    <div class="alert-header-title ">
      <span>Update Component</span>
    </div>
    <div></div>
  </div>

  <form #form (ngSubmit)="saveItemss()" [formGroup]="UpdateItemsFrom" class="form-container">
    <div>

      <div class="form-row">

        <mat-form-field appearance="outline">
          <mat-label >componet ID</mat-label>
          <input readonly matInput formControlName="componetID" placeholder="componetID" minlength="3">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Component Name</mat-label>
          <input  matInput formControlName="componetName" placeholder="componetName" minlength="3">
        </mat-form-field>

      </div>

      <div class="form-row">

        <mat-form-field appearance="outline">
          <mat-label>Component Desc</mat-label>
          <input formControlName="componetDesc" matInput placeholder="componetDesc" minlength="3">
        </mat-form-field>

        <mat-form-field appearance="outline" formControlName="imageURL" ngDefaultControl>
          <mat-label>Image URL</mat-label>
          <ngx-mat-file-input formControlName="imageURL" (change)="uploadFile($event)" placeholder="imageURL" ngDefaultControl></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

      </div>

      <div class="form-row">

        <mat-form-field appearance="outline">
          <mat-label>QTY</mat-label>
          <input  matInput formControlName="qty" placeholder="qty" minlength="1">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Unit Price</mat-label>
          <input  matInput formControlName="unitPrice" placeholder="unitPrice" minlength="1">
        </mat-form-field>

      </div>

      <div class="form-row">

        <mat-form-field appearance="outline">
          <mat-label>Component Code</mat-label>
          <input  matInput formControlName="componetCode" placeholder="componetCode" minlength="3">
        </mat-form-field>

        <section class="example-section">
          <mat-checkbox #confirmed class="example-margin" >Are You wish to Update This Component</mat-checkbox>
        </section>

      </div>

    </div>
    <div class="form-row-btn">
      <div class="row-btn">
        <button id="cancelbtn" (click)="onNoClick()" mat-raised-button type="reset">Cancel</button>
        <button  id="savebtn"  mat-raised-button type="submit" [disabled]="!confirmed.checked">Save</button>
        <button *ngIf="apiResponse" [class.btn-spinner]="apiResponse" id="spinner" mat-raised-button></button>
      </div>
    </div>
  </form>

</div>
