<mat-sidenav-container #sidenavContainer class="shadow-none" style="height: 91.5%;">
  <mat-sidenav [opened]="navState" class="bg-skin-secondary shadow-2xl" mode="side">
    <mat-nav-list >

      <mat-list-item [routerLink]="'./home'" role="listitem" routerLinkActive="buttonActive">
        <fa-icon [icon]="faHome" class="side-btn-icon "></fa-icon>&nbsp;Home
      </mat-list-item>
      <mat-list-item [routerLink]="'./manageItems'" role="listitem" routerLinkActive="buttonActive">
        <fa-icon [icon]="faLaptopHouse" class="side-btn-icon "></fa-icon>&nbsp;Manage Components
      </mat-list-item>
      <mat-list-item [routerLink]="'./userProfile'" role="listitem" routerLinkActive="buttonActive">
        <fa-icon [icon]="faUser" class="side-btn-icon "></fa-icon>&nbsp;User Profile
      </mat-list-item>

    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content [@routeAnimations]="getRouteAnimationData(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

